.profile {
  max-width: 240px;
  margin: 24px auto 16px;
  box-shadow: rgb(0 0 0 / 75%) 0px 0px 4px 0px;
  background-color: #fff;
  border-radius: 4px;
}
.description {
  text-align: center;
  padding: 32px 16px 8px 16px;
}
.avatar {
  width: 104px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 16px;
}
.name {
  font-size: 24px;
  color: #122236;
}
.tag,
.location {
  font-size: 14px;
  margin-bottom: 1rem;
  color: #768696;
}
.stats {
  list-style-type: none;
  width: 100%;
  display: flex;
}
.stats__item {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f3f6f9;
}
.stats__item:first-child {
  border-bottom-left-radius: 4px;
}
.stats__item:last-child {
  border-bottom-right-radius: 4px;
  border-right: 0;
}
.label {
  font-size: 12px;
  margin-bottom: 8px;
  color: #768696;
}
.quantity {
  font-weight: 700;
  color: #122236;
}
