.statistics {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 16px auto 16px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 75%) 0px 0px 4px 0px;
  border-radius: 4px;
  background-color: #fff;
}
.title {
  color: #122236;
}
.stat__list {
  display: flex;
  flex-direction: row;
}
.item {
  min-width: 64px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item:first-child {
  border-bottom-left-radius: 4px;
}
.item:last-child {
  border-bottom-right-radius: 4px;
}
